<div class="wrapper">
  <%= render partial: 'layouts/control_panel/header' %>
  <%= render partial: 'layouts/control_panel/sidebar' %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 800px;">
   <%= yield %>
  </div><!-- /.content-wrapper -->

  <%= render partial: 'layouts/footer' %>
</div><!-- /.wrapper -->
