<div class="row">
  <div class="col-sm-12">
    <table id="admin-products-table" class="table table-striped">
      <thead>
      <tr role="row">
        <th>Дата добавления</th>
        <th>Заголовок</th>
        <th>Удалить</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.created_at %></td>
          <td><%= product.title %></td>
          <td><a href='#'>Удалить</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>