<div class="row">
  <div class="col-sm-12">
    <table id="admin-products-table" class="table table-striped table-bordered">
      <thead>
      <tr role="row">
        <th>Дата добавления</th>
        <th>Заголовок</th>
        <th>Удалить</th>
      </tr>
      </thead>
      <tbody>
      <% if @products.blank? %>
        <tr>
          <td colspan="3">Нет данных</td>
        </tr>
      <% else %>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.created_at %></td>
            <td><%= product.title %></td>
            <td><a href='#'>Удалить</a></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>