<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Part</b> 1
    </div>
    <strong>➚#<a href="http://skillgrid.ru">Skillgrid</a></strong>
  </div>
  <!-- /.container -->
</footer>