<!-- sidebar -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav">
    <li>Навигация</li>
    <li class="<%= 'active' if current_page?(products_path) %>">
      <%= link_to 'Продукты', products_path %>
    </li>
  </ul>
</div>